### In this project I will be showing you

1. How to connect to MySQL, 
2. How to Create a Database,
3. How to write your pandas data frame to MySQL and
4. How to write sql queries that run on DB



*** Remember if you dont replace host, user, password information with your information this code will not work.

In [6]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.1.1-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.1-py3-none-any.whl (44 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.1

In [13]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\rmnjs\appdata\local\programs\python\python39\lib\site-packages (9.0.0)

In [1]:
import pandas as pd 
from sqlalchemy import create_engine
import mysql.connector

Now, let's create a simple data frame from lists using dictionary for further use

In [2]:
courses = {'Courses':['English','French','German','Spanish'],
           'Duration_in_days':['35','35','40','30']}


df = pd.DataFrame.from_dict(courses)

df

   Courses Duration_in_days
0  English               35
1   French               35
2   German               40
3  Spanish               30

### Connecting to MySQL and Create a Database

In your MySQL you will have localhost, user, password information. Using them you can to a connect to the database as below. Using cursor we are also going to create a database called new_db.

In [4]:
try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root"
    )
    print("Connection established")
    cursor = mydb.cursor()
    cursor.execute("create database if not exists csv_db")
    mydb.commit()
    print("Database created successfully")
    cursor.execute("use csv_db")

except mysql.connector.Error as err:
    print("An error occurred:", err)

Connection established
Database created successfully

### Writing the Data Frame to a table in the database.

I will be creating an engine to connect to my new database

In [7]:
hostname= "localhost"
database= "csv_db"
username= "root"
password= "root"

engine = create_engine("mysql+pymysql://{user}:{pw}@{host}/{db}".format(host=hostname, db=database, user=username, pw=password))

Now I can write my pandas data frame to my new_db as follows

In [8]:
df.to_sql('data_csv', engine, if_exists='replace', index=False)

4

### SQL queries that run on DB

In [9]:
cursor.execute("use csv_db")

In [10]:
cursor.execute('''  
SELECT * from data_csv
          ''')

for row in cursor.fetchall():
    print (row)

('English', '35')
('French', '35')
('German', '40')
('Spanish', '30')

It is also possible to read a mysql table directly into a dataframe as follows:

In [11]:
df_sql = pd.read_sql('SELECT * from data_csv', con=engine)
df_sql

   Courses Duration_in_days
0  English               35
1   French               35
2   German               40
3  Spanish               30

In [12]:
cursor.close()
mydb.close()